body{
    font-family: 'Trebuchet MS';
    background-color: 	#addaff;
}

.header_div
{
    background: aliceblue;
    color: #699CF7;
}

.header_div p{
    font-family: 'Trebuchet MS';
    color: #699CF7;
    letter-spacing: px;
    font-size: 12px;
    font-weight: bold;
}

.main div button{
    font-family: 'Trebuchet MS';
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
    color: rgb(22, 186, 207);
}

.copy_right_footer {
    position: fixed;
    color: #699CF7
    bottom: 0;
    width: 100%
    font-size: 18px;
    background-colour: #699CF7; 
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px #699CF7;
}